@tailwind base;
@tailwind components;
@tailwind utilities;
.my-masonry-grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: auto;
}
.my-masonry-grid_column {
  padding-left: 10px; /* gutter size */
  background-clip: padding-box;
}
/* Style your items */
.my-masonry-grid_column > div {
  margin-bottom: 10px;
  cursor: pointer;
}
.my-masonry-grid_column > div > div > img {
  width: 100%;
  border-radius: 2px;
  position: relative;
  transition: all 0.3s ease;
  filter: brightness(80%);
}
.my-masonry-grid_column > div > div > img:hover {
  filter: brightness(100%);
  transform: scale(1.02);
  box-shadow: 0px 0px 5px 2px rgb(48, 47, 47);
}
.center-masonry {
  /* background: rgb(233, 232, 232); */
}
body {
  background: rgba(255, 255, 206, 1);
}
.cont {
  background: rgba(233, 239, 255, 0.68);

  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.49);
}
